@font-face {
  font-family: "Clash Display";
  src: url("@/assets/fonts/ClashDisplay-Bold.eot") format("eot"),
    url("@/assets/fonts/ClashDisplay-Bold.ttf") format("ttf"),
    url("@/assets/fonts/ClashDisplay-Bold.woff") format("woff"),
    url("@/assets/fonts/ClashDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Clash Display";
  src: url("@/assets/fonts/ClashDisplay-Semibold.eot") format("eot"),
    url("@/assets/fonts/ClashDisplay-Semibold.ttf") format("ttf"),
    url("@/assets/fonts/ClashDisplay-Semibold.woff") format("woff"),
    url("@/assets/fonts/ClashDisplay-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Clash Display";
  src: url("@/assets/fonts/ClashDisplay-Regular.eot") format("eot"),
    url("@/assets/fonts/ClashDisplay-Regular.ttf") format("ttf"),
    url("@/assets/fonts/ClashDisplay-Regular.woff") format("woff"),
    url("@/assets/fonts/ClashDisplay-Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("@/assets/fonts/Satoshi-Black.eot") format("eot"),
    url("@/assets/fonts/Satoshi-Black.ttf") format("ttf"),
    url("@/assets/fonts/Satoshi-Black.woff") format("woff"),
    url("@/assets/fonts/Satoshi-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("@/assets/fonts/Satoshi-Bold.eot") format("eot"),
    url("@/assets/fonts/Satoshi-Bold.ttf") format("ttf"),
    url("@/assets/fonts/Satoshi-Bold.woff") format("woff"),
    url("@/assets/fonts/Satoshi-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("@/assets/fonts/Satoshi-Medium.eot") format("eot"),
    url("@/assets/fonts/Satoshi-Medium.ttf") format("ttf"),
    url("@/assets/fonts/Satoshi-Medium.woff") format("woff"),
    url("@/assets/fonts/Satoshi-Medium.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("@/assets/fonts/Satoshi-Regular.eot") format("eot"),
    url("@/assets/fonts/Satoshi-Regular.ttf") format("ttf"),
    url("@/assets/fonts/Satoshi-Regular.woff") format("woff"),
    url("@/assets/fonts/Satoshi-Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
