body {
  background-color: #f6fafc;
  padding: 0;
  margin: 0;
  font-family: "Satoshi";
  color: #252525;
}
h1 {
  font-size: 42px;
  font-weight: 600px;
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
h3 {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
p,
a {
  font-size: 14px;
}
